#opened-bg-content {
    /* content: ''; */
    /* justify-content: center; */
    /* align-items: center; */
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.499);
    z-index: -1;
    backdrop-filter: blur(10px);
    animation: .5s ease-in 0s 1 opened-bg-content-faded-animation forwards;
}

@keyframes opened-bg-content-faded-animation {
    0% {
        background-color: rgba(255, 255, 255, 0);
        border-radius: 1000px;
        width: 10px;
        height: 10px;
        top: -50vw;
        left: -50vh;

    }


    100% {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 0vh;
        width: 100vw;
        height: 100vh;
        top: 0vw;
        left: 0vh;
    }
}

#closed-bg-content {
    position: absolute;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
    backdrop-filter: blur(5px);
    animation: .5s ease-in 0s 1 closed-bg-content-faded-animation forwards;
}

@keyframes closed-bg-content-faded-animation {
    0% {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 0vh;
        width: 100vw;
        height: 100vh;
        top: 0vw;
        left: 0vh;
    }


    100% {
        background-color: rgba(255, 255, 255, 0);
        border-radius: 1000px;
        width: 10px;
        height: 10px;
        top: -50vw;
        left: -50vh;
    }
}

#menu {
    position: absolute;
    height: calc(100vh - 70px);
    width: 100vw;
    top: 70px;
    overflow-y: scroll;
    /* float: left; */
    /* display: flex; */
    /* justify-content: center; */
    /* display: ; */
    /* justify-content: center; */

}

#menu::-webkit-scrollbar{
    width: 0px;
}

#menu .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100vw / 7);
    height: calc(100vw / 7 + 40px);
    /* background-color: #0fa; */
    float: left;
    margin-right: calc(100vw / 7 * 3 / 8);
    margin-left: calc(100vw / 7 * 3 / 8);
    margin-top: 20px;
    margin-bottom: 20px;
}

#menu a {
    text-decoration: none;
    color: black;
}



.item-image {
    width: calc(100vw / 12);
    height: calc(100vw / 12);
    transition: all .5s;
}

.item-text {
    margin-top: 10px;
    font-size: calc(100vw / 7 / 5);
    /* height: calc(100vw / 7 / 3); */
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin-bottom: 0px;
    font-family: Inter;
    font-weight: bold;

    /* margin-top: 3px; */
}

#menu .menu-item:hover {
    cursor: pointer;
}




















@media(min-width: 767px) {
    #menu .menu-item {
        height: 6vw;
        width: 6vw;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .menu-item .item-image{
        height: 5vw;
        width: 5vw;
        -webkit-filter: grayscale(1) invert(1);
        filter: grayscale(1) invert(1);
    }

    .menu-item .item-text {
        display: none;
    }

    #menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 70px - 6vh);
        width: 7vw;
        top: 1vh;
        overflow-y: scroll;
        /* padding-right: 17px;
        padding-left: 0.5px;
        box-sizing: content-box;*/
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    #menu::-webkit-scrollbar {
        width: 0px;
    }

    #big-opened-bg-content {
        /* overflow: hidden; */
        position: fixed;
        top: calc(70px + 2vh);
        left: 14px;
        height: calc(100vh - 70px - 4vh);
        width: 7vw;
        border-radius: 2vw;
        background-color: rgba(0, 0, 0, 0.594);
        box-shadow: 0 0 10px 5px black;
        z-index: 999;
        backdrop-filter: blur(3px);
        animation: .3s ease-in 0s 1 open-bg-content-move-out-animation forwards;
    }


    #big-closed-bg-content {
        position: fixed;
        top: calc(70px + 2vh);
        left: 14px;
        height: calc(100vh - 70px - 4vh);
        width: 7vw;
        border-radius: 2vw;
        background-color: rgba(0, 0, 0, 0.594);
        backdrop-filter: blur(3px);
        z-index: 999;
        animation: .3s ease-in 0s 1 closed-bg-content-move-out-animation forwards;
        
    }
    @keyframes closed-bg-content-move-out-animation {
        0% {
            position: fixed;
            top: calc(70px + 2vh);
            left: 14px;
            width: 7vw;
            border-radius: 2vw;
            background-color: rgba(0, 0, 0, 0.594);
            backdrop-filter: blur(3px);
            box-shadow: 0 0 10px 5px black;
            z-index: 999;
            height: calc(100vh - 70px - 4vh);
        }
        100%{
            position: fixed;
            top: calc(70px + 2vh);
            left: 14px;
            width: 7vw;
            border-radius: 2vw;
            background-color: rgba(0, 0, 0, 0);
            backdrop-filter: blur(3px);
            z-index: 999;
            /* box-shadow: 0 0 10px 5px black; */
            height: 0px;
            display: none;
        }
        

    }

    @keyframes open-bg-content-move-out-animation {
        0%{
            overflow: hidden;
            position: fixed;
            top: calc(70px + 2vh);
            height: 0px;
            width: 7vw;
            left: 14px; 
            border-radius: 2vw;
            z-index: 999;
            background-color: rgba(0, 0, 0, 0.594);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0);
            backdrop-filter: blur(3px);
        }
        100%{
            overflow: hidden;
            position: fixed;
            top: calc(70px + 2vh);
            left: 14px;
            z-index: 999;
            height: calc(100vh - 70px - 4vh);
            width: 7vw;
            border-radius: 2vw;
            background-color: rgba(0, 0, 0, 0.594);
            box-shadow: 0 0 10px 5px black;
            backdrop-filter: blur(3px);
        }
    }
}












@media(min-width: 991px) {
    #menu .menu-item {
        height: 2vw;
        width: 2vw;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .menu-item .item-image{
        height: 2vw;
        width: 2vw;
        -webkit-filter: grayscale(1) invert(1);
        filter: grayscale(1) invert(1);
    }

    .menu-item .item-text {
        display: none;
    }

    #menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 70px - 6vh);
        width: 3vw;
        top: 1vh;
        overflow-y: scroll;
        /* padding-right: 17px;
        padding-left: 0.5px;
        box-sizing: content-box;*/
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    #menu::-webkit-scrollbar {
        width: 0px;
    }

    #big-opened-bg-content {
        /* overflow: hidden; */
        position: fixed;
        top: calc(70px + 2vh);
        left: 14px;
        height: calc(100vh - 70px - 4vh);
        width: 3vw;
        border-radius: 2vw;
        background-color: rgba(0, 0, 0, 0.594);
        box-shadow: 0 0 10px 5px black;
        backdrop-filter: blur(3px);
        animation: .3s ease-in 0s 1 open-bg-content-move-out-animation forwards;
        /* animation: .3s ease-in 0s 1 open-bg-content-move-out-animation forwards; */
    }

    #big-closed-bg-content {
        position: fixed;
        top: calc(70px + 2vh);
        left: 14px;
        height: calc(100vh - 70px - 4vh);
        width: 3vw;
        border-radius: 2vw;
        background-color: rgba(0, 0, 0, 0.594);
        backdrop-filter: blur(3px);
        animation: .3s ease-in 0s 1 closed-bg-content-move-out-animation forwards;
        
    }
    @keyframes closed-bg-content-move-out-animation {
        0% {
            position: fixed;
            top: calc(70px + 2vh);
            left: 14px;
            width: 3vw;
            border-radius: 2vw;
            background-color: rgba(0, 0, 0, 0.594);
            backdrop-filter: blur(3px);
            box-shadow: 0 0 10px 5px black;
            height: calc(100vh - 70px - 4vh);
        }
        100%{
            position: fixed;
            top: calc(70px + 2vh);
            left: 14px;
            width: 3vw;
            border-radius: 2vw;
            background-color: rgba(0, 0, 0, 0);
            backdrop-filter: blur(3px);
            /* box-shadow: 0 0 10px 5px black; */
            height: 0px;
            display: none;
        }
        

    }

    @keyframes open-bg-content-move-out-animation {
        0%{
            overflow: hidden;
            position: fixed;
            top: calc(70px + 2vh);
            height: 0px;
            width: 3vw;
            left: 14px; 
            border-radius: 2vw;
            background-color: rgba(0, 0, 0, 0.594);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0);
            backdrop-filter: blur(3px);
        }
        100%{
            overflow: hidden;
            position: fixed;
            top: calc(70px + 2vh);
            left: 14px;
            height: calc(100vh - 70px - 4vh);
            width: 3vw;
            border-radius: 2vw;
            background-color: rgba(0, 0, 0, 0.594);
            box-shadow: 0 0 10px 5px black;
            backdrop-filter: blur(3px);
        }
    }
}
