#notify-panel {
    position: fixed;
    width: 70vw;
    height: 60vh;
    max-width: 301px;
    max-height: 559.195px;
    right: 0.5vw;
    top: 0.5vw;
    border-radius: min(5vw,21.5px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 3px black;

    background-color: rgba(0, 0, 0, 0.301);
}

.notify-account-display {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 301px;
    max-height: 64.500px;
    height: 15vw;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    /* background-color: #235e73; */
}

.notify-avatar-container {
    position: relative;
    display: flex;
    max-width: 64.500px;
    max-height: 64.500px;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 100%;
    /* background-color: #4f008b; */
}

.notify-avatar-container img {
    width: 6vw;
    height: 6vw;
    max-width: 34.1px;
    max-height: 34.1px;
    border-radius: 100%;
    border: #fff solid min(0.5vw,2px);
    object-fit: cover;
}

.notify-text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    color: #fff;
    width: 55vw;
    height: 15vw;
    max-width: 256.5px;
    max-height: 64.5px;
}


.notify-text-on-top {
    display: flex;
    align-items: end;
    height: 7.5vw;
    max-height: 32.250px;
    max-width: 236.500px;
    font-family: Inter;
    font-weight: lighter;
    font-size: min(3vw,12.9px);
    /* background-color: rgb(0, 53, 74); */
}

.notify-text-on-top p {
    margin: 0;
}


.notify-text-day-xa-hoi{
    display: flex;
    align-items: end;
    height: 4vw;
    max-width: 256.500px;
    max-height: 17.195px;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(0, 0, 0) */
}

.notify-account-name {
    color: white;
    font-family: Inter;
    font-size: min(4vw,17.2px);
    margin: 0;
}
.notify-account-point {
    font-family: Inter;
    font-weight: lighter;
    font-size: min(2.5vw,10.75px);
    margin: 0 0.5vw 0 0;
}

.notify-line-container {
    display: flex;
    justify-content: center;
    height: 1px;
    width: 100%;
}

.notify-bold-line {
    justify-items: center;
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.638);
}

.notify-content-display {
    /* background-color: wheat; */
    position: relative;
    /* height: max(calc(100% - 15vw - 4vh),457.414px); */
    height: calc(60vh - min(15vw,64.5px) - 4vh - 1px);
    max-width: 301px;
    max-height: 484.977px;
    overflow-y: scroll;
}

.notify-content-display::-webkit-scrollbar{
    width: 0px;
}


.notify-profile-link {
    text-decoration: none;
}
.notify-bottom-panel {
    /* background-color: #4f008b; */
    height: 4vh;
    max-height: 37.273px;
    max-width: 301px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.notify-button-container {
    width: 2vh;
    height: 2vh;
    max-width: 19.66px;
    max-height: 19.66px;
    margin-right: min(3vw,12.9px);
}

.notify-button-container img:hover {
    cursor: pointer;
}

.notify-bottom-panel img {
    width: 2vh;
    height: 2vh;
    max-width: 19.66px;
    max-height: 19.66px;
}

.notify-content-item-icon-layer {
    width: 100%;
    margin-top: min(2vw,8.6px);
    height: 6vw;
    max-height: 25.8px;
    /* background-color: #0fa; */
    display: flex;
    align-items: center;
}

.notify-content-item-icon-layer img{
    width: 6vw;
    height: 6vw;
    max-width: 25.8px;
    max-height: 25.8px;
    /* background-color: rgb(255, 255, 255); */
    margin-left: min(4vw,17.2px);
    display: flex;
    align-items: center;
}

.notify-content-item-text-container {
    color: white;
    height: auto;
    margin: min(2vw,8.6px) min(2vw,8.6px) 0 min(2vw,8.6px);
}

.notify-content-item-text-container p::first-letter {
    margin-left: 0.5vw;
}

.notify-title {
    font-family: Inter;
    font-size: min(3.5vw,15.05px);
    margin: min(2vw,8.6px) min(2vw,8.6px) 0 min(1vw, 4.3px)
}
.notify-message {
    font-family: Inter;
    font-size: min(3vw,12.9px);
    font-weight: 300;
    margin: min(3vw,12.9px) min(1vw,4.3px) min(4vw,17.2px) min(1vw,4.3px);
}

.notify-light-line {
    position: relative;
    height: 1px;
    width: 90%;
    background-color: #ffffff76;
}