.all_editProfile {
    /* padding-top: 10px; */
    font-family: inter;
    background-color: #0000002d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 501;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
    position: fixed;
    background-color: #fff;
    width: min(90vw, 400px);
    padding: min(7vh, 60px);
    border-radius: min(2vw, 40px);
    box-shadow: 0 2px 10px rgba(172, 165, 165, 0.1);
    text-align: center;
    position: relative;
    padding-top: min(4vh, 100px);
    max-height: 500px;
    overflow: hidden;
}
.edit-profile-form {
    margin: 0;
    position: relative;
    padding-bottom: min(4vh, 20px);
    font-size: min(4vw, 22px);
    top: -10px;
}

.edit-profile-form::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: min(100%, 400px);
    height: 1px;
    background-color: rgba(174, 169, 170, 0.21);
}

.profile-picture {
    filter: drop-shadow(0 0 0.5vw #cfcfcf);
    width: min(30vw, 120px);
    height: min(30vw, 120px);
    background-color: #d9d9d900;
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}


.profile-picture::after {
    content: '';
    position: absolute;
    /* z-index: 10; */
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: min(30vw, 160px);
    height: 1px;
    background-color: rgba(174, 169, 170, 0.21);

    /* transition: all ease-out .3s; */
}

.profile-picture::before {
    content: "Edit";
    /* z-index: 10; */
    position: absolute;
    color: white;
    font-size: min(4vw, 18px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.profile-picture:hover::before {
    opacity: 1;
}
.profile-picture:hover {
    /* background-color: rgba(174, 169, 170, 0.4); */
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
}


.form-group {
    margin-bottom: min(2vh, 15px);
    text-align: left;
}

.form-group label {
    display: block;
    font-size: min(3vw, 14px);
    margin-bottom: min(1vh, 5px);
    color: #707070;
}

.form-group input,.form-group textarea {
    width: 100%;
    padding: min(2vh, 10px);
    border-radius: min(1vw, 16px);
    border: 1px solid #ECECEC;
    background-color: #ECECEC;
    font-size: min(3vw, 14px);
    outline: none;
}

.form-group textarea {
    resize: none;
    height: min(10vh, 60px);
}

.button-group {
    margin-top: min(2vh, 20px);
    text-align: center;
}

.divider {
    border: none;
    height: 1px;
    background-color: rgba(174, 169, 170, 0.21);
    margin-bottom: min(2vh, 20px);
}

.save-button,.discard-button {
    width: min(25vw, 120px);
    padding: min(2vh, 18px);
    border: none;
    border-radius: min(3vw, 13px);
    font-size: min(3vw, 18px);
    cursor: pointer;
}

.save-button {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.463);
    margin-right: min(3vw, 25px);
    filter: drop-shadow(0 0 0.5vw #cfcfcf);
}

.discard-button {
    background-color: #F86464;
    color: #ffff;
    filter: drop-shadow(0 0 0.5vw #cfcfcf);
}
