.video-container {
    position: absolute;
    z-index: -10;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: none;
    overflow: hidden;
    pointer-events: none;
    /*aspect-ratio: 16/9;*/
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

#background-video {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 130vw;
    height: 130vh;
    transform: translate(-50%, -50%);
}



.content-item {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    height: 90vw;
    width: 90vw;
    max-width: 415px;
    max-height: 415px;
    top: 30px;
    left: 5vw;
    border-radius: min(4vw,30px);
    backdrop-filter: blur(14px);
    overflow: hidden;
    display: none;
}

.background-config-title {
    position: relative;
    height: 50px;
    width: 100%;
    /* background-color: aquamarine; */
    text-align: center;
    color: white;
    font-family: Inter;
    font-weight: bold;
    font-size: min(4vw,15px);
}

.background-config-title div {
    padding-top: 10px;
}

.background-config-line {
    height: 0.3px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.518);
}

.background-config-content {
    position: relative;
    width: 100%;
    height: calc((90vw - 50px));
    max-height: 365px;
}

.background-config-add {
    height: 25px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.background-config-add-button {
    margin-right: 10px;
    width: 3vw;
    height: 3vw;
    max-width: 14px;
    max-height: 14px;
    min-width: 9px;
    min-height: 9px;
}
.background-config-add-button:hover {
    cursor: pointer;
}

.background-config-choice {
    position: relative;
    width: 100%;
    height: calc((90vw - 50px - 25px)*13/15);
    max-height: 294px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* background-color: blue; */
}

.background-config-choice::-webkit-scrollbar {
    width: 5px;
    height: 100%;
}

.background-config-choice::-webkit-scrollbar-track {
    width: 10px;
    height: 70vw;
    background-color: rgba(0, 0, 0, 0.305);
    
}

.background-config-choice::-webkit-scrollbar-thumb {
    width: 5px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 50px;
}

.background-config-choice ul {
    width: 100%;
    list-style: none;
    padding: 0 0px 0 0;
    margin: 0;

}

.background-config-choice li {
    width: 100%;
    margin: 3px 0 3px 0;
    border-top: 0.5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    transition: ease-in-out .2s;
}

.background-config-choice li:hover{
    width: 100%;
    margin: 3px 0 3px 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.400);
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

.background-config-choice-selected li {
    width: 100%;
    margin: 3px 0 3px 0;
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

.background-config-item-selected {
    background-color: rgba(255, 255, 255, 0.675);
}

.background-config-choice ul li p {
    color: white;
    margin: 10px 0 10px 10px;
    font-size: max(min(3.5vw,17px),9px);
    font-family: Inter;
}

.background-config-button-container {
    position: relative;
    display: flex;
    height: calc((90vw - 50px - 25px)*2/15);
    
}

.background-config-button-item {
    height: 100%;
    width: 50%;
    max-height: 46px;
    color: white;
    font-family: Inter;
    font-size: min(3.5vw,16px);
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all .2s;
    cursor: pointer;
}



.background-config-button-item:hover {
    background: rgba(255, 255, 255, 0.293);
}

.background-config-button-item:active{
    background: rgba(255, 255, 255, 0.478);
}

.background-config-add-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    height: calc((90vw - 50px - 25px)*13/15);
    max-height: 294px;
}

.background-config-type-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.background-config-field {
    width: 60vw;
    height: 10vw;
    border-radius: 3vw;
    max-height: 50px;
    max-width: 350px;
    min-width: 155px;

}

.background-config-add-link-button {
    /* background-color: aqua; */
    height: 40px;
    width: 80px;
}


@media(min-width: 767px) {
    
}
@media(min-width: 991px) {

}

@media (min-aspect-ratio: 16/9) {
    #background-video {
        /* height = 100 * (9 / 16) = 56.25 */
        height: 56.25vw;
    }
}
@media (max-aspect-ratio: 16/9) {
    #background-video {
        /* width = 100 / (9 / 16) = 177.777777 */
        width: 177.78vh;
    }
}