/* 
                                      _
                                   _ooOoo_
                                  o8888888o
                                  88" . "88
                                  (| -_- |)
                                  O\  =  /O
                               ____/`---'\____
                             .'  \\|     |//  `.
                            /  \\|||  :  |||//  \
                           /  _||||| -:- |||||_  \
                           |   | \\\  -  /'| |   |
                           | \_|  `\`---'//  |_/ |
                           \  .-\__ `-. -'__/-.  /
                         ___`. .'  /--.--\  `. .'___
                      ."" '<  `.___\_<|>_/___.' _> \"".
                     | | :  `- \`. ;\_ _/; .'/ /  .' ; |
                     \  \ `-.   \_\_`. _.'_/_/  -' _.' /
           ===========`-.`___`-.__\ \___/ /__.-'___'.-'===========

   ▄████████      ████████▄   ▄█       ████████▄     ▄████████         ▄███████▄    ▄█    █▄       ▄████████     ███     
  ███    ███      ███   ▀███ ███       ███   ▀███   ███    ███        ███    ███   ███    ███     ███    ███ ▀█████████▄ 
  ███    ███      ███    ███ ███▌      ███    ███   ███    ███        ███    ███   ███    ███     ███    ███    ▀███▀▀██ 
  ███    ███      ███    ███ ███▌      ███    ███   ███    ███        ███    ███  ▄███▄▄▄▄███▄▄   ███    ███     ███   ▀ 
▀███████████      ███    ███ ███▌      ███    ███ ▀███████████      ▀█████████▀  ▀▀███▀▀▀▀███▀  ▀███████████     ███     
  ███    ███      ███    ███ ███       ███    ███   ███    ███        ███          ███    ███     ███    ███     ███     
  ███    ███      ███   ▄███ ███       ███   ▄███   ███    ███        ███          ███    ███     ███    ███     ███     
  ███    █▀       ████████▀  █▀        ████████▀    ███    █▀        ▄████▀        ███    █▀      ███    █▀     ▄████▀   
                                                                                                                         

░▒▓███████▓▒░ ░▒▓██████▓▒░       ░▒▓███████▓▒░░▒▓█▓▒░░▒▓█▓▒░░▒▓██████▓▒░  
░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░ 
░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░        
░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░      ░▒▓███████▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒▒▓███▓▒░ 
░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░ 
░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░ 
░▒▓█▓▒░░▒▓█▓▒░░▒▓██████▓▒░       ░▒▓███████▓▒░ ░▒▓██████▓▒░ ░▒▓██████▓▒░                                               
                       
                           
           ░ ░                ▓▓░                                      
          ░░░            ██████████████░                               
          ░  ░░       ████████████████████▓                            
                     ████████████████████████                          
          ░  ░ ░   ████████████████████████████                        
          ░    ░  ░█   █████████████████████████                       
          ░░░     █ ▒████████████████████████████                      
               ░  ███▓ ▒ ████████████████████████░                     
               ░ █████▒█░ ▒░▓▓▒██████████████████                      
               ░ ██▓▒▓█░▓ ░  ░░░░▒░▓███▓░▓▒▒▒▓                         
              ░  ▒█░░██░ ▒▒▒░▒▒▒░░░░▒▒█░░░░▒▒▓░             ░          
          ░░░     ██░░░█▒ ░▒▓▓▒▓██▓█▒░░░░░░░░▓░                        
          ░░░░░░   █░▒░░░░   ░▒▒▓▒▒░  ░ ░░▒██░                         
          ░░░░░░   ██▓░░  ░▓▓▓░     ░░░▒▓▓▓▓▓▓░          ░░░▒░         
          ░░░░░░░░  ███▒  ▒░██░      ░░░▒▓▓▒▒▒▓▒░ ░░░░░░░░░░▓░         
          ░░░░░░      ░    ░░ ▒░      ░░░░░▓▒░░     ░░▓█▓░░░█░         
          ░░░░░░  ░░                ░░░░░░░░▒█ ░░░░░░░░     ▒░         
          ░░░ ░    ░░               ░░░░▒░▓██░░░░        ░░░░░         
                  ░▒          ░░░  ░░░░▒▒░▒▓░   ░      ░   ░           
          ░░ ░░░  ░         ░░░▒▒▓░░░░░░▒▓▓█                           
                 ░██        ░░░▒▓▓▓██████      ░░                      
             ░░  ██████▒    ░░▒░▒▓▓▒███████ ░░  ░                      
          ░░    ███████████  ░░░░▒▒▒███████       ▓ ▓▓                 
               █████████████████████████████     ▓▓ █ █                
              ████████████████████████████ ▓▒    █ ░▓   ▓              
          ░  █████████████████████████████ ░█   ▒▓ ▓ ░  ▓              
          ░ ██████████████████████████████  ██  ▓ ░█ █▒█               
            ██████████████████████████████▒ ▓░    ░▒░█░                
           ▓███████████████████████████████   ░ ▒▒░▓░▓█                
            ████████████████████████████████▓▒░ ▒▒▒▓▓█                 
           ░█████████████████████████████████░░▒░░░▓█                  
           ░█████████████████████████████████▒ ░░░▒▓                   
            ████████████████████████████████▓  ░  ▓                    
          ▓ ████████████████████████████████░   ░▓                     
            ███████████████████████████████▒░░░░▓                      
             ██████████████████████████████ ░░░░█                      
              ████████████████████████████░ ░░░▓                       
              ▒██████████████████████████▓░░ ░ ▓                       
               ██████████████████████████░░░░░░██                      
                ████████████████████████▓░░░░░░██                      
                ████████████████████░░▓▓░░░░░░░███                     
                 ████████████████░░░░░█▒░ ░░▒░████████████████         
                 ████████████▒░░░░░░░░█░  ░▒▒░████████████████         
                  ██████        ░░░░░░▓░ ░░▒░█████████████████         
                   ██████▒          ░░░░░░░░██████████████████         
                   ████████            ░░░░░██████████████████         
                    █████████         ░░░░▒███████████████████         
                     █████████        ░▒░ ████████████████████         
                    ████████████         █████████████████████         
                                                                       

*/



/*▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 𝗜𝗳𝗿𝗮𝗺𝗲 𝗯𝗮𝗰𝗸𝗴𝗿𝗼𝘂𝗻𝗱 ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/*▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ 
───────────────────────░▄███▄███▄
───────────────────────░██ ██ ███
───────────────────────░▒▀█████▀░
───────────────────────░▒░░▀█▀
───────────────────────░▒░░█░
───────────────────────░▒░█
───────────────────────░░░█
───────────────────────░░█░░░░███████
───────────────────────░██░░░██▓▓███▓██▒
───────────────────────██░░░█▓▓▓▓▓▓▓█▓████
───────────────────────██░░██▓▓▓(◐)▓█▓█▓█
───────────────────────███▓▓▓█▓▓▓▓▓█▓█▓▓▓▓█
───────────────────────▀██▓▓█░██▓▓▓▓██▓▓▓▓▓█
───────────────────────░▀██▀░░█▓▓▓▓▓▓▓▓▓▓▓▓▓█
───────────────────────░░░░▒░░░█▓▓▓▓▓█▓▓▓▓▓▓█
───────────────────────░░░░▒░░░█▓▓▓▓█▓█▓▓▓▓▓█
───────────────────────░▒░░▒░░░█▓▓▓█▓▓▓█▓▓▓▓█
───────────────────────░▒░░▒░░░█▓▓▓█░░░█▓▓▓█
───────────────────────░▒░░▒░░██▓██░░░██▓▓██
───────────────────────████████████████████████
───────────────────────█▄─▄███─▄▄─█▄─█─▄█▄─▄▄─█
───────────────────────██─██▀█─██─██─█─███─▄█▀█
───────────────────────▀▄▄▄▄▄▀▄▄▄▄▀▀▄▄▄▀▀▄▄▄▄▄▀
 ─────────────────────────────────────────────────────────────────────*/


/* background iframe */

.video-container {
    position: absolute;
    z-index: -10;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: none;
    overflow: hidden;
    pointer-events: none;
    /*aspect-ratio: 16/9;*/
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

#background-video {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 130vw;
    height: 130vh;
    transform: translate(-50%, -50%);
}



/*
/*▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 𝘽𝙖𝙘𝙠𝙜𝙧𝙤𝙪𝙣𝙙 𝙘𝙤𝙣𝙛𝙞𝙜𝙪𝙧𝙖𝙩𝙞𝙤𝙣 ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/*▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ 
─────────────────────────────────────────────▓▓█───────
───────────────────────────────────────────▒██▒▒█──────
──────────────────────────────────────────█▓▓▓░▒▓▓─────
────────────────────────────────────────▒█▓▒█░▒▒▒█─────
───────────────────────────────────────▒█▒▒▒█▒▒▒▒▓▒────
────────────────▓▓▒░──────────────────▓█▒▒▒▓██▓▒░▒█────
────────────────█▓▓██▓░──────────────▓█▒▒▒▒████▒▒▒█────
────────────────▓█▓▒▒▓██▓░──────────▒█▒▒▒▒▒██▓█▓░░▓▒───
────────────────▓▒▓▒▒▒▒▒▓█▓░──░▒▒▓▓██▒▒▒▒▒▒█████▒▒▒▓───
────────────────▓░█▒▒▒▒▒▒▒▓▓█▓█▓▓▓▓▒▒▒▒▒▒▒▒██▓██▒░▒█───
────────────────▓░▓█▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓████▒▒▒█───
────────────────▓░▓██▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▒▒▒▒▒▒▒▒▒▓██░░░█───
────────────────▓░▓███▒▒▒▒▒▒▒▒▒▒▒▓█▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▒▓▓──
────────────────▒▒▒██▓▒▓█▓▒▒▒▒▒▒▒▓▒▒▒▒▒▒▓▓▓▒▒▒▒▒▒▒▓▒█──
─────────────────▓▒█▓▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▓█▓▓▓▓█▓▒▒▒▒▒▒▒▓▒─
─────────────────▓▒█▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓──────▓█▓▒▒▒▒▒▓█─
─────────────────▒▒▓▒▒▒▓▓▓▒▒▒▒▒▒▒▒▒▓▓───░▓▓───█▓▒▒▒▒▒█─
──────────────────█▒▒▓▓▓▒▒▓▓▒▒▒▒▒▒▓▓───█████▓──█▓▒▒▒▒▓▒
──────────────────▓▓█▒─────▒▓▒▒▒▒▒█───░██████──░█▒▒▒▒▓▓
──────────────────▓█▒──▒███─▒▓▒▒▒▒█────██████───▓▒▒▒▒▒▓
──────────────────██───█████─█▒▒▒▒█─────███▓────▓▓▒▒▒▒▓
──────────────────█▓───█████─▒▓▒▒▒█─────────────█▓▓▓▒▒▓
──────────────────█▓───░███──░▓▒▒▒▓█──────────░█▓▒▒▒▓▒▓
──────────────────██─────────▒▓▒▒▒▒▓▓──────░▒▓█▓────░▓▓
──────────────────▓█░────────█▓██▓▒▒▓█▓▓▓▓██▓▓▒▓▒░░▒▓▒▓
──────────────────▒██░──────▓▒███▓▒▒▒▒▓▓▓▓▒▒▒▒▒▒▓▓▓▓▒▓─
───────────────────█▓█▓▓▒▒▓█▓▒░██▒▒▓▓█▓▒▒▒▒▒▒▒▒▒▒▒▒▓▓█▒
───────────────────▓─░▓▓▓▓▓▒▓▓▓▓▒▓▓▓▒▓▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓
───────────────────▒▒▒▓▒▒▒▒▒▒▓█░─░░░─▓▓▒▒▒▒▒▒▒▒▒▒▒▓██▓▒
────────────────────█▓▒▒▒▒▒▒▒▒▓▓─░░░─▓▓▒▒▒▒▒▒▒▒▒▓▓▓▒▒▓▒
─────────────────────██▓▓▒▒▒▒▒▒█▒░░░░█▒▒▒▒▒▒▒▒▓█▓▓▒▒▒▒▒
────────────────────░─▒██▓▓▒▒▒▒▒█▓▒▒▓▒▒▒▒▒▒▓███▓▒▒▒▒▒▓▓
─────────────────────────░▒▓▓▓▓▒▒▓▓▓▓▓▓████▓▓█▒▒▒▒▒▓▓█░
*/

.content-item {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    height: 90vw;
    width: 90vw;
    max-width: 415px;
    max-height: 415px;
    top: 30px;
    left: 5vw;
    border-radius: min(4vw,30px);
    backdrop-filter: blur(14px);
    overflow: hidden;
    display: none;
}

.content-item-title {
    position: relative;
    height: 9vw;
    max-height: 50px;
    min-height: 25px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Inter;
    font-weight: bold;
    font-size: min(4vw,15px);
}

.content-item-title div {
    padding-top: 10px;
}

.config-line {
    height: 0.3px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.518);
}

.content-container {
    position: relative;
    width: 100%;
    height: calc((90vw - max(min(9vw,50px),25px)));
    max-height: 365px;
}

.config-add-button-container {
    height: 5vw;
    max-height: 23px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.config-add-button {
    margin-right: 10px;
    width: 3vw;
    height: 3vw;
    max-width: 14px;
    max-height: 14px;
    min-width: 5px;
    min-height: 5px;

    
}
.config-add-button:hover {
    cursor: pointer;
}

.choice-container {
    position: relative;
    width: 100%;
    height: calc((90vw - max(min(9vw,50px),25px) - min(5vw,23px))*13/15);
    max-height: 294px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* background-color: blue; */
}

.choice-container::-webkit-scrollbar {
    width: 5px;
    height: 100%;
}

.choice-container::-webkit-scrollbar-track {
    width: 10px;
    height: 70vw;
    background-color: rgba(0, 0, 0, 0.305);
    
}

.choice-container::-webkit-scrollbar-thumb {
    width: 5px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 50px;
}

.choice-container ul {
    width: 100%;
    list-style: none;
    padding: 0 0px 0 0;
    margin: 0;

}

.choice-container .background-config-item {
    width: 100%;
    margin: 3px 0 3px 0;
    border-top: 0.5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    transition: ease-in-out .2s;
}

.choice-container .background-config-item:hover{
    width: 100%;
    margin: 3px 0 3px 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.400);
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

.choice-container-selected li {
    width: 100%;
    margin: 3px 0 3px 0;
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

.background-config-item-selected {
    background-color: rgba(255, 255, 255, 0.675);
}

.choice-container ul li p {
    color: white;
    margin: 10px 0 10px 10px;
    font-size: max(min(3.5vw,17px),9px);
    font-family: Inter;
}

.content-button-container {
    position: relative;
    display: flex;
    height: calc((90vw - 50px - 25px)*2/15);
    
}

.content-button-item {
    height: 100%;
    width: 50%;
    max-height: 46px;
    color: white;
    font-family: Inter;
    font-size: min(3.5vw,16px);
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all .2s;
    cursor: pointer;
}



.content-button-item:hover {
    background: rgba(255, 255, 255, 0.293);
}

.content-button-item:active{
    background: rgba(255, 255, 255, 0.478);
}

.background-config-add-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    height: calc((90vw - 50px - 25px)*13/15);
    max-height: 294px;
}

.background-config-type-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.background-config-field {
    width: 60vw;
    height: 10vw;
    border-radius: 3vw;
    max-height: 50px;
    max-width: 350px;
    min-width: 155px;

}

.background-config-add-link-button {
    /* background-color: aqua; */
    height: 40px;
    width: 80px;
}




/*▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓𝙎𝙤𝙪𝙣𝙙 𝘾𝙤𝙣𝙛𝙞𝙜𝙪𝙧𝙖𝙩𝙞𝙤𝙣▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/*▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
────────────────▓▓▓▓───▓▓▓▓▓▓▓▓▓▓▓───▓​▓▓▓────────────────────────
──────────────▓▓▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓​▒▒▒▓▓──────────────────────
──────────────▓▓▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓​▓▒▒▓▓──────────────────────
───────────────▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓​▓▓▓▓───────────────────────
─────────────────▓▓▓▓▓███▓▓▓▓▓▓▓███▓▓▓​▓▓─────────────────────────
────────────────▓▓▓▓▓▓███▓▓▓▓▓▓▓███▓▓▓​▓▓▓────────────────────────
────────────────▓▓▓▓▓▓▓▓▒▒▒███▒▒▒▓▓▓▓▓​▓▓▓────────────────────────
────────────────▓▓▓▓▓▓▓▒▒▒▒███▒▒▒▒▓▓▓▓​▓▓▓────────────────────────
─────────────────▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓​▓▓─────────────────────────
───────────────────▓▓▓▓▓▓▒▒▒▒▒▒▒▓▓▓▓▓▓───────────────────────────
─────────────────▓▓▓░░░░░▓▓▓▓▓▓▓░░░░░▓​▓▓─────────────────────────
─────────────▓▓▓▓░░░░░░░░░░░▓░░░░░░░░░​░░▓▓▓▓─────────────────────
────────────▓▓▓▓▓░░░░░╔══╦╦╦═╦═╦╦╦═╗░░​░░▓▓▓▓▓────────────────────
────────────▓▓▓▓▓▓░░░░╚╗╔╣╩║╬║║║═╣═╣░░​░▓▓▓▓▓▓────────────────────
────────────▓▓▓▓▓▓▓░░░░║║║╦║║║║║║╠═║░░​▓▓▓▓▓▓▓────────────────────
────────────▓▓▓▓▓▓▓░░░░╚╝╚╩╩╩╩╩╩╩╩═╝░░​▓▓▓▓▓▓▓────────────────────
─────────────▓▓▓▓▓▓░░░░░░▄██▄██▄░░░░░░▓​▓▓▓▓▓─────────────────────
───────────────▓▓▓▓░░░░░░███████░░░░░░▓​▓▓▓───────────────────────
─────────────────▓▓█▓░░░░███████░░░░▓█​▓▓─────────────────────────
──────────────▓▓▓▓▓▓▓▓▓░░░█████░░░▓▓▓▓​▓▓▓▓▓──────────────────────
─────────────▓▓▒▒▒▒▒▒▓▓▓░░░███░░░▓▓▓▒▒​▒▒▒▒▓▓─────────────────────
────────────▓▓▒▒▒▒▒▒▒▒▒▓▓▓░░▀░░▓▓▓▒▒▒▒​▒▒▒▒▒▓▓────────────────────
────────────▓▓▒▒▒▒▒▒▒▒▒▒▓▓▓▓░▓▓▓▓▒▒▒​▒▒▒▒▒▒▒▓▓────────────────────
────────────▓▓▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▒▒▒▒▒​▒▒​▒▒▒▓▓────────────────────
────────────▓▓▓▒▒▒▒▒▒▒▒▓▓▓─────▓▓▓▒▒▒▒​▒▒​▒▒▓▓▓────────────────────
─────────────▓▓▓▓▓▓▓▓▓▓▓▓───────▓▓▓▓▓▓​▓▓▓▓▓▓─────────────────────
─────────────────────────────────────────────────────────────────
*/

.sound-config-item {
    /* background-color: red; */
    width: 100%;
    height: max(min(calc((90vw - 25px)* 13 / 15 /4),85px),58px);
}

.sound-config-item-top {
    /* background-color: aquamarine; */
    margin-top: min(1.3vw,8px);
    display: flex;
    justify-content: left;
    align-items:center;
    width: 100%;
    height: 50%;
}

.sound-config-item-top img {
    margin-left: calc(10px + 0.9vw);
    /* background-color: aqua; */
    height: 8vw;
    width: 8vw;
    max-width: 38px;
    max-height: 38px;
    min-width: 21px;
    min-height: 21px;
}

.custom-check-box-container {
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    height: 3.5vw;
    min-width: 18px;
    min-height: 9px;
    width: 7vw;
    max-width: 38px;
    max-height: 20px;
    border-radius:  2.5vw;
    border: solid min(0.4vw,1.4px) white;
    display: block;
    /* background-color: aliceblue; */
    cursor: pointer;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sound-config-item-top input {  
    margin-left: min(0.7vw,3.5px);
    height: 2.5vw;
    width: 2.5vw;
    max-height: 15px;
    max-width: 15px;
    min-width: 5px;
    min-height: 5px;
    border-radius: 100%;
    cursor: pointer;
    background: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: ease-in-out .2s;
    /* opacity: 0; */
}

.sound-config-item-top input:checked {
    background-color: aquamarine;
    margin-left: 55%;
}

.sound-config-item-top input:checked ~ .custom-check-box-container {
    justify-content: right;

}

.sound-config-item-bottom {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%
}

.sound-config-item-bottom p {
    margin-left: 0.5vw;
}

.sound-config-item-bottom input{
    -webkit-appearance: none;
    margin-left: 10px;
    height: 2vw;

    width: 80%;
    min-height: 5px;
    max-height: 8px;
    border-radius: 1vw;
}

.sound-config-item-bottom input::-webkit-slider-thumb{
    width: 4vw;
    height: 4vw;
    max-width: 18px;
    max-height: 18px;
    min-width: 10px;
    min-height: 10px;
    border-radius: 100%;
    box-shadow: 0 0 3px 0.3px black;
    background-color: rgb(255, 255, 255);
    -webkit-appearance: none;
}

.sound-config-item-bottom input::-moz-range-thumb{
    -webkit-appearance: none;
}

.sound-config-item-bottom input::-webkit-slider-thumb:disabled {
    background-color: rgb(131, 131, 131);
}

.sound-config-item-bottom input:disabled{
    background-color: rgb(131, 131, 131);
}


.sound-add-container {
    /* padding-top: min(3vw,15px); */
    position: relative;
    width: 100%;
    height: calc((90vw - max(min(9vw,50px),25px) - min(5vw,23px))*13/15);
    max-height: 294px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sound-add-container input {
    height: 8vw;
    max-height: 41px;
    min-height: 31px;
    margin-bottom: min(3vw,25px);
    width: 90%;
    font-size: min(2vw,13px);
}

.sound-add-container input:focus {
    font-size: min(2.5vw,15px);
}


.sound-add-container button {
    width: 20%;
    height: 5vw;
    max-height: 32.5px;
    
    font-size: min(2.5vw,15px);
}


























@media(min-width: 767px) {
    
}
@media(min-width: 991px) {

}

@media (min-aspect-ratio: 16/9) {
    #background-video {
        /* height = 100 * (9 / 16) = 56.25 */
        height: 56.25vw;
    }
}
@media (max-aspect-ratio: 16/9) {
    #background-video {
        /* width = 100 / (9 / 16) = 177.777777 */
        width: 177.78vh;
    }
}